﻿@media screen {
    #gc-viewer-print-frame {
        display: none;
        visibility: hidden;
    }
}

@media print {
    body {
        overflow: visible;
        display: block;
        height: auto;
        margin: 0;
        visibility: hidden;
    }

    #gc-viewer-print-frame {
        display: block;
        visibility: visible;
    }
}
